/* General */
.heading-customized,
.heading-customized-no-border,
.heading-banner,
.heading-services,
.heading-contacts {
  font-family: 'Open Sans', sans-serif;
}

.heading-customized::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #FFBB00;
}

.heading-banner::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #FFBB00;
}

.color-accent {
  color: #FFBB00;
}

/* Navigation component */
.navbar {
  background-color: #212121;
}

.navbar-brand {
  font-weight: 600;
}

body {
  font-family: 'Lato', sans-serif;
}

.navbar .nav-link {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 12px 0;
}

.navbar .nav-link-de {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 12px 0;
}

.navbar {
  border-bottom: 3px solid #FFBB00;
  padding-bottom: 0;
}

.nav-link {
  border-bottom: 3px solid transparent;
}

.nav-link-de {
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  border-bottom: 3px solid #FFBB00;
}

.navbar-dark .navbar-toggler {
  border: 0;
}

.navbar-nav {
  gap: 1vw;
}

.nav-link {
  cursor: pointer;
}

/* Footer component */
footer {
  background-color: #212121;
  margin-top: -1px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.rights-reserved {
  color: #565656;
}


@media screen and (max-width: 991px) {
  .footer-logo {
    /* background-image: url('../images/egatnom-logo-footer.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100px;
    filter: opacity(0.1);
    -webkit-filter: opacity(0.1);
  }
}

/* Header component */
.bg-image-full {
  /* background-image: url('../images/egatnom-cover-M.jpg'); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top 62%;
  background-size: cover;
  min-height: 700px;
  height: 700px;
}

@media screen and (max-width: 991px) {
  .bg-image-full {
    min-height: 400px;
    height: 400px;
    margin-bottom: -2px;
  }
}


/* About component */
.about-wrapper {
  background-color: #212121;
}


/* Certificates component */
.shadow-row {
  box-shadow: inset 0 -11px 25px -15px grey;
  -webkit-box-shadow: inset 0 -11px 25px -15px grey;
}

.banner-bg {
  /* background-image: url('../images/construction-whqat-makes-us-different.svg'); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-content {
  /* background-image: url('../images/banner-egatnom.jpg'); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  min-height: 560px;
}

.border-element {
  /* width: 63%; */
  min-height: 100px;
  margin: 0 auto;
  position: relative;
}

.border-element::after {
  content: "";
  position: absolute;
  width: 50px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #FFBB00;
}

.services {
  /* background-image: url('../images/services-background.svg'); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom left;
  background-size: 25%;
}

.heading-services {
  font-size: 18px;
}

.heading-services::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #FFBB00;
}

.heading-contacts {
  font-size: 22px;
}

.heading-contacts::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #FFBB00;
}

.flag {
  box-shadow: 0px 0px 2px 1px #00000057;
  -webkit-box-shadow: 0px 0px 2px 1px #00000057;
}

.contacts-text-size {
  font-size: 18px;
}

.img-container-gallery img {
  width: 100%;
  display: block;
}

.container-gallery {
  display: block;
  /* display: grid */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 80%;
  margin: 0 auto;
}


.parent-slide>.slide:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}


.slide a {
  width: 100%;
  height: 50px;
}

.slide a img {
  width: 100%;
}

.img-container-gallery {
  position: relative;
}

.content-gal {
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
  color: #fff;
  opacity: 0;
}

.img-container-gallery:hover .content-gal {
  opacity: 1;
  background: tomato;
}

.zoom-text {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.2s linear;
}

.content-gal h2 {
  padding: 15px 0;
}

.zoom-text:hover {
  cursor: pointer;
  transform: scale(1.1);
}